<div class="ui accordion fluid styled">
    <ng-container *ngFor="let item of items; let i = index;">
        <div [ngClass]="{ active: i === openedItemIndex }" class="title" (click)="onClick(i)"><i
                class="dropdown icon"></i>
            {{ item.title }}
        </div>
        <div [ngClass]="{ active: i === openedItemIndex }" class="content">
            <p [ngClass]="i === openedItemIndex ? 'visible' : 'hidden'" class="transition">{{ item.content }}</p>
        </div>
    </ng-container>
</div>